{%extends "base.html"%}
{%block title%}Safe Route{%endblock%}
{%block content%}
<div class="container mt-5 mb-5 pt-3">
    <div class="row">
      <div class="col-6" style="white">
        <!-- Content for the first half of the container -->
        <h1>SafeRoute</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti iste excepturi aliquam. Porro neque autem dolorum enim, eveniet voluptate nisi quam earum repudiandae similique quia adipisci dolores, quis commodi expedita?
        </p>
      </div>
      <div class="col-6 text-center">
        <!-- Content for the second half of the container -->
        <img src="{{url_for('static',filename='carousel1.jpeg')}}" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

<div id="carouselExampleIndicators" class="container carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{url_for('static',filename='carousel1.jpeg')}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>Welcome to Safe Route</h2>
                <p>The website features a map interface where users can explore different locations and view accident-prone areas highlighted on the map. 
                    These areas are identified based on historical accident data, traffic patterns, and other relevant factors. Users can easily plan their routes accordingly, taking into consideration the potential risks associated with specific areas.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{url_for('static',filename='carousel2.jpeg')}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>Your Travel Safety Companion</h2>
                
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{url_for('static',filename='carousel3.jpeg')}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>A buddy that helps you travel smartly.</h2>
                
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div> 

  
<!-- digital product showcase start-->
<section class="bg-color more-info-section">
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>
        



<!-- blog -->
<div class="container my-4">
    <div class="row mb-2">
        <div class="col-md-6">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0">Global Conferences</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                        lead-in to additional content.</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="250" src="{{url_for('static',filename='pic1.jpg')}}" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Design</strong>
                    <h3 class="mb-0">Learn Designing</h3>
                    <div class="mb-1 text-muted">Nov 11</div>
                    <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="250" src="{{url_for('static',filename='pic2.png')}}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-danger">FrontEnd</strong>
                    <h3 class="mb-0">Bootstrap Templetes</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                        lead-in to additional content.</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="250" src="{{url_for('static',filename='pic3.jpg')}}" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-warning">BackEnd</strong>
                    <h3 class="mb-0">Learn Java</h3>
                    <div class="mb-1 text-muted">Nov 11</div>
                    <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="250" src="{{url_for('static',filename='pic4.jpeg')}}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}